body{ margin-left: 50px; margin-right: 50px; }
.header{text-align: center; }
.name{font-size: 40px; }
.section{margin:10px; padding:10px; border-bottom-style: solid; }
.subsection{ margin-bottom: 10px; }
.section-heading{font-size:25px; text-decoration: underline; margin-bottom: 5px; }
.subsection-heading{font-weight: bold; }
.footer{ text-align: center; }

.hidden {display: none;}
.small-text{ font-size: 12px; }
.medium-text { font-size: 15px; }
.button-pointer { cursor: pointer;}


#cssSelect{ z-index: 2; position:fixed; top:0; right: 50px; border-style: solid; border-top-style: hidden;  border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; background-color: white; }
